#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        secret: secret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F &kp U &kp C &kp K &kp I &kp N &kp G &kp LS(R) &kp A &kp N &kp D>;
            label = "SECRET";
        };
    };

    behaviors {
        mt_balanced: mt_balanced {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_BALANCED";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC    &kp Q                      &kp W                        &kp E                    &kp R           &kp T                          &kp Y  &kp U                     &kp I                     &kp O                         &kp P                          &kp LBKT
&kp TAB    &mt_balanced LEFT_SHIFT A  &mt_balanced LEFT_CONTROL S  &mt_balanced LEFT_ALT D  &mt LEFT_GUI F  &kp G                          &kp H  &mt_balanced RIGHT_GUI J  &mt_balanced RIGHT_ALT K  &mt_balanced RIGHT_CONTROL L  &mt_balanced RIGHT_SHIFT SEMI  &kp SQT
&kp GRAVE  &kp Z                      &kp X                        &kp C                    &kp V           &kp B  &mkp MB4     &mkp MB5   &kp N  &kp M                     &kp COMMA                 &kp DOT                       &kp FSLH                       &kp RSHFT
                                                                                            &kp LG(SPACE)   &mo 1  &kp SPACE    &kp ENTER  &mo 2  &kp BSPC
            >;

            display-name = "Base";
            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        nav {
            bindings = <
&trans    &kp FSLH   &kp LBKT                  &kp LS(LPAR)                &kp LS(LBRC)                 &kp LS(LT)                      &kp LS(GT)    &kp LS(RBRC)                 &kp LS(RPAR)          &kp RBKT                  &kp BSLH      &trans
&kp CAPS  &trans     &mt_balanced LCTRL EQUAL  &mt_balanced LEFT_ALT FSLH  &mt_balanced LEFT_GUI MINUS  &kp LS(PIPE)                    &kp LEFT      &mt_balanced RIGHT_GUI DOWN  &mt_balanced RALT UP  &mt_balanced RCTRL RIGHT  &trans        &trans
&trans    &kp LC(Z)  &kp LS(UNDER)             &kp LS(STAR)                &kp LS(PLUS)                 &kp LS(AMPS)  &trans    &trans  &kp CAPSLOCK  &kp RBKT                     &kp PG_DN             &kp PG_UP                 &kp LS(AMPS)  &trans
                                                                           &trans                       &trans        &trans    &trans  &mo 3         &kp DEL
            >;

            display-name = "Navigation";
        };

        sym {
            bindings = <
&trans  &kp LS(EXCL)   &kp LS(AT)    &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)                    &secret        &kp KP_NUMBER_7                     &kp KP_NUMBER_8                     &kp KP_NUMBER_9                 &kp END                         &kp HOME
&trans  &trans         &trans        &trans         &trans        &trans                           &kp PAGE_UP    &mt_balanced RIGHT_GUI KP_NUMBER_4  &mt_balanced RIGHT_ALT KP_NUMBER_5  &mt_balanced RCTRL KP_NUMBER_6  &mt_balanced RSHFT KP_NUMBER_0  &kp KP_ENTER
&trans  &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)   &kp LS(LPAR)  &kp LS(RPAR)   &trans    &trans  &kp PAGE_DOWN  &kp KP_NUMBER_1                     &kp KP_NUMBER_2                     &kp KP_NUMBER_3                 &kp KP_DOT                      &kp KP_NUMLOCK
                                                    &trans        &tog 3         &trans    &trans  &trans         &trans
            >;

            display-name = "Symbols";
        };

        adj {
            bindings = <
&bootloader  &trans  &kp F1  &kp F2   &kp F3   &kp F4                     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&trans       &trans  &kp F5  &kp F6   &kp F7   &kp F8                     &out OUT_BLE  &kp C_VOL_DN  &kp K_MUTE        &kp C_VOL_UP  &trans        &studio_unlock
&trans       &trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &out OUT_USB  &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT    &trans        &trans
                                      &trans   &tog 3   &trans    &trans  &tog 3        &trans
            >;

            display-name = "Adjust";
        };
    };
};
